.crystals{
    display: flex;
    float: left;
    align-items: center;
    
}



.crystal{
    border: 1px solid rgb(30, 219, 30);
    height: 200px;
    width: 200px;background: red;


}

.directions{
    width: 300px;
    background-color: rgb(150, 169, 173);
    border-radius: 3px;
    

}

.row{
    background-color: cyan;
    width: 200px;
    border-radius: 2px;
}

body {
background-color: rgb(39, 189, 216);

}